.sf-banner__wrapper-desktop {
    max-width: 414px;
    span.sf-banner__subtitle {
        // font-family: $source-sans !important;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #3C3C3C;
    }
}